@model ProjectJavelin.Models.Stats

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Stats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gamertag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gamertag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameVariant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameVariant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MapId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MapId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Won)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Won)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deaths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deaths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Headshots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Headshots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KillDeathRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KillDeathRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadShotRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadShotRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
